export POSTGRES_DATABASE_NAME=ManagementSystem_db_1sb1u1m21
export POSTGRES_DATABASE_USER=azamat
export POSTGRES_DATABASE_USER_PASSWORD=UseVeryStrongPasswordHere
export POSTGRES_DATABASE_HOST=localhost
export POSTGRES_DATABASE_PORT=55433
export DJANGO_SECRET_KEY='django-insecure-1sb1u1m21'
