{% extends "base.html" %}


{% block title %}
Фотоальбомы
{% endblock %}


{% block content %}

  <div class="container marketing">
    <div class="row mb-12">
        <div class="col-lg-12 text-center">
            <h2 class="fw-normal mt-3">Фотогалерея</h2>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <!-- Three columns of text below the carousel -->
    {% for photoalbum in photoalbums %}

        {% if forloop.counter0|divisibleby:3 %}
        <div class="row mb-4">
        {% endif %}



        <div class="col-lg-4 text-start">
          <a href="{% url 'managementsystem:photoalbum_detail' photoalbum.pk %}">
                <img src="{{ photoalbum.cover_image.url }}" alt="{{ photoalbum.title }}" width="400" />

            <h4 class="fw-normal mt-3">{{ photoalbum.title }}</h4>
          </a>
            <p>{{ photoalbum.description }}</p>
            <p>Дата создания: {{ photoalbum.created_at|date:"d.m.Y  H:i" }}</p>

        </div><!-- /.col-lg-4 -->


        {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div><!-- /.row -->
        {% endif %}

    {% endfor %}



  </div><!-- /.container -->

{% endblock %}

{% block footerlink %}
<a href="{% url 'managementsystem:home' %}">На главную</a>
{% endblock %}




